body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  background-image: url('images/bg.jpg');}

.container {
  text-align: center;
  width: 80%;
  max-width: 400px;
  height: 80vh;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  border: 16px solid #000000;
  border-top-width: 60px;
  border-bottom-width: 80px; /* Adjust to make the bottom thicker */

}

h1 {
  color: #333;
  margin-top: 30px;
}

.add-todo {
  margin-bottom: 20px;
}

input {
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 8px 25px;
  background-color: #2e00fb;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  
  margin-right: 5px; /* Added margin between buttons */
  margin-top: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #fff;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.empty-state {
  display: none;
  color: #777;
}

.Delete-button {
  background-color: #ff0000; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.Done-button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}